.main__container{
    min-height: 42rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    gap: 0.5rem;
    padding: 0.8rem;
    overflow: hidden;
  }