/* CAJA */
.taskList__container{
    width: 30%;
    background-color: #f6f8fa;
    border: rgba(27,31,35,0.2) solid 1px;
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    color: rgba(27, 31, 35, 0.479);
}
/* HEADER (counter-title-button */
.taskList__header{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.title-counter__wrapper{
    display: inline-flex;
    flex-direction: row;
    gap:0.4rem;
    align-items: baseline;
}
.task__title{
    font-size: 1rem;
    font-weight:600;
    color: rgba(27, 31, 35, 0.884);
}
.counter{
    width: min-content;
    color: rgba(27,31,35,0.9);
    background-color: #e6e6e9;
    padding: 0.2rem;
    border-radius: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    border: rgba(27,31,35,0.2) solid 1px;
}
.button__add{
    border: none;
    background-color: #f6f8fa ;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(27, 31, 35, 0.479);
}
.button__add:hover{
    color: #f6f8fa;
    background-color: #bab9be ;
    font-weight: bold;
    border-radius: 0.8rem;
}