/* CAJA */
.taskList__container{
    width: 30%;
    background-color: #f6f8fa;
    border: rgba(27,31,35,0.2) solid 1px;
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    color: rgba(27, 31, 35, 0.479);
}
/* HEADER (counter-title-button */
.taskList__header{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.title-counter__wrapper{
    display: inline-flex;
    flex-direction: row;
    gap:0.4rem;
    align-items: baseline;
}
.task__title{
    font-size: 1rem;
    font-weight:900;
    padding-left: 10px;
    color: rgba(27, 31, 35, 0.884);
}
.counter{
    width: min-content;
    color: rgba(27,31,35,0.9);
    background-color: #e6e6e9;
    padding: 0.2rem;
    border-radius: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    border: rgba(27,31,35,0.2) solid 1px;
}
.button__add{
    border: none;
    background-color: #f6f8fa ;
    font-weight: normal;
    font-size: 1.2rem;
    color: rgba(27, 31, 35, 0.479);
}
.button__add:hover{
    color: #f6faf8;
    background-color: #50ac76 ;
    font-weight: bold;
    border-radius: 100px;
}

.card__style{
    display: flex;
    flex-direction: column;
    gap: 0.2px;
    background-color: rgb(254, 255, 255);
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 4px 14px -2px rgba(0,0,0,0.34); 
    box-shadow: 1px 4px 14px -2px rgba(0,0,0,0.34);
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.card__style--h1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
    font-weight: 500;
    color: #000000;

}

.card__style--fecha{
    margin-left: 20px;
    font-style: italic;
    font-weight: 500;
    font-size: 0.6rem;
}